# Sparkify Project Workspace
This workspace contains a tiny subset (128MB) of the full dataset available (12GB). Feel free to use this workspace to build your project, or to explore a smaller subset with Spark before deploying your cluster on the cloud. Instructions for setting up your Spark cluster is included in the last lesson of the Extracurricular Spark Course content.

You can follow the steps below to guide your data analysis and model building portion of this project.

In [61]:
# import libraries
from pyspark.sql import SparkSession, Window

from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import sum as Fsum
from pyspark.sql.functions import min as Fmin
from pyspark.sql.functions import max as Fmax
from pyspark.sql.functions import avg, col, concat, count, desc, asc, explode, lit, split, stddev, udf, isnan, when, rank, from_unixtime

from pyspark.ml import Pipeline
from pyspark.ml.feature import MinMaxScaler, VectorAssembler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator, MulticlassClassificationEvaluator
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder

In [2]:
# Create spark session
spark = SparkSession \
    .builder \
    .appName("Sparkify") \
    .getOrCreate()

In [3]:
# Read in full sparkify dataset
event_data = "../input/mini_sparkify_event_data.json"
df = spark.read.json(event_data)

# Load and Clean Dataset
In this workspace, the mini-dataset file is `mini_sparkify_event_data.json`. Load and clean the dataset, checking for invalid or missing data - for example, records without userids or sessionids.

The first five rows of the dataset.

In [4]:
df.head(5)

[Row(artist='Martha Tilston', auth='Logged In', firstName='Colin', gender='M', itemInSession=50, lastName='Freeman', length=277.89016, level='paid', location='Bakersfield, CA', method='PUT', page='NextSong', registration=1538173362000, sessionId=29, song='Rockpools', status=200, ts=1538352117000, userAgent='Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', userId='30'),
 Row(artist='Five Iron Frenzy', auth='Logged In', firstName='Micah', gender='M', itemInSession=79, lastName='Long', length=236.09424, level='free', location='Boston-Cambridge-Newton, MA-NH', method='PUT', page='NextSong', registration=1538331630000, sessionId=8, song='Canada', status=200, ts=1538352180000, userAgent='"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', userId='9'),
 Row(artist='Adam Lambert', auth='Logged In', firstName='Colin', gender='M', itemInSession=51, lastName='Freeman', length=282.8273, level='paid', location='Bakersfield, CA', method='PUT', page='NextSong', registration=1538173362000, sessionId=29, song='Time For Miracles', status=200, ts=1538352394000, userAgent='Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', userId='30'),
 Row(artist='Enigma', auth='Logged In', firstName='Micah', gender='M', itemInSession=80, lastName='Long', length=262.71302, level='free', location='Boston-Cambridge-Newton, MA-NH', method='PUT', page='NextSong', registration=1538331630000, sessionId=8, song='Knocking On Forbidden Doors', status=200, ts=1538352416000, userAgent='"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.103 Safari/537.36"', userId='9'),
 Row(artist='Daft Punk', auth='Logged In', firstName='Colin', gender='M', itemInSession=52, lastName='Freeman', length=223.60771, level='paid', location='Bakersfield, CA', method='PUT', page='NextSong', registration=1538173362000, sessionId=29, song='Harder Better Faster Stronger', status=200, ts=1538352676000, userAgent='Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', userId='30')]

Schema information

* artist: Artist name (ex. Daft Punk)
* auth: User authentication status (ex. Logged)
* firstName: User first name (ex. Colin)
* gender: Gender (ex. F or M)
* itemInSession: Item count in a session (ex. 52)
* lastName: User last name (ex. Freeman)
* length: Length of song (ex. 223.60771)
* level: User plan (ex. paid)
* location: User's location (ex. Bakersfield)
* method: HTTP method (ex. PUT)
* page: Page name (ex. NextSong)
* registration: Registration timestamp (unix timestamp) (ex. 1538173362000)
* sessionId: Session ID (ex. 29)
* song: Song (ex. Harder Better Faster Stronger)
* status: HTTP status (ex. 200)
* ts: Event timestamp(unix timestamp) (ex. 1538352676000)
* userAgent: User's browswer agent (ex. Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0)
* userId: User ID (ex. 30)

In [5]:
df.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: long (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

## Statistics

Statistics of the whole dataset

In [6]:
df.describe().show()

+-------+------------------+----------+---------+------+------------------+--------+------------------+------+-----------------+------+-------+--------------------+-----------------+--------------------+------------------+--------------------+--------------------+------------------+
|summary|            artist|      auth|firstName|gender|     itemInSession|lastName|            length| level|         location|method|   page|        registration|        sessionId|                song|            status|                  ts|           userAgent|            userId|
+-------+------------------+----------+---------+------+------------------+--------+------------------+------+-----------------+------+-------+--------------------+-----------------+--------------------+------------------+--------------------+--------------------+------------------+
|  count|            228108|    286500|   278154|278154|            286500|  278154|            228108|286500|           278154|286500| 286500|              278154|           286500|              228108|            286500|              286500|              278154|            286500|
|   mean| 551.0852017937219|      null|     null|  null|114.41421291448516|    null|249.11718197783722|  null|             null|  null|   null|1.535358834085557E12|1041.526554973822|            Infinity|210.05459685863875|1.540956889810471...|                null| 59682.02278593872|
| stddev|1217.7693079161374|      null|     null|  null|129.76726201141085|    null| 99.23517921058324|  null|             null|  null|   null| 3.291321616328068E9|726.7762634630834|                 NaN| 31.50507848842202|1.5075439608187113E9|                null|109091.94999910519|
|    min|               !!!| Cancelled| Adelaida|     F|                 0|   Adams|           0.78322|  free|       Albany, OR|   GET|  About|       1521380675000|                1|ÃÂg ÃÂtti Gr...|               200|       1538352117000|"Mozilla/5.0 (Mac...|                  |
|    max| ÃÂlafur Arnalds|Logged Out|   Zyonna|     M|              1321|  Wright|        3024.66567|  paid|Winston-Salem, NC|   PUT|Upgrade|       1543247354000|             2474|ÃÂau hafa slopp...|               404|       1543799476000|Mozilla/5.0 (comp...|                99|
+-------+------------------+----------+---------+------+------------------+--------+------------------+------+-----------------+------+-------+--------------------+-----------------+--------------------+------------------+--------------------+--------------------+------------------+

Statistics of the `artist` column

In [7]:
df.describe('artist').show()

+-------+------------------+
|summary|            artist|
+-------+------------------+
|  count|            228108|
|   mean| 551.0852017937219|
| stddev|1217.7693079161374|
|    min|               !!!|
|    max| ÃÂlafur Arnalds|
+-------+------------------+

Statistics of the `sessionId` column

In [8]:
df.describe('sessionId').show()

+-------+-----------------+
|summary|        sessionId|
+-------+-----------------+
|  count|           286500|
|   mean|1041.526554973822|
| stddev|726.7762634630834|
|    min|                1|
|    max|             2474|
+-------+-----------------+

Statistics of the `userId` column

In [9]:
df.describe('userId').show()

+-------+------------------+
|summary|            userId|
+-------+------------------+
|  count|            286500|
|   mean| 59682.02278593872|
| stddev|109091.94999910519|
|    min|                  |
|    max|                99|
+-------+------------------+

Total rows: 286,500

In [10]:
df.count()

286500

All the `page` events

- About: 
- Add Friend: 
- Add to Playlist: 
- Cancel: 
- Cancellation Confirmation: **TODO:**
- Downgrade: 
- Error: 
- Help: 
- Home: 
- Login: 
- Logout: 
- NextSong: 
- Register: 
- Roll Advert: 
- Save Settings: 
- Settings: 
- Submit Downgrade: 
- Submit Registration: 
- Submit Upgrade: 
- Thumbs Down: 
- Thumbs Up: 
- Upgrade:

`page` kind

In [11]:
df.select("page").dropDuplicates().sort("page").show()

+--------------------+
|                page|
+--------------------+
|               About|
|          Add Friend|
|     Add to Playlist|
|              Cancel|
|Cancellation Conf...|
|           Downgrade|
|               Error|
|                Help|
|                Home|
|               Login|
|              Logout|
|            NextSong|
|            Register|
|         Roll Advert|
|       Save Settings|
|            Settings|
|    Submit Downgrade|
| Submit Registration|
|      Submit Upgrade|
|         Thumbs Down|
+--------------------+
only showing top 20 rows

## missing values

In [12]:
def count_missing(df, col):
    """
    A helper function which count how many missing values in a colum of the dataset.
    
    This function is useful because the data can be either three cases below:
    
    1. NaN
    2. Null
    3. "" (empty string)
    """
    return df.filter((isnan(df[col])) | (df[col].isNull()) | (df[col] == "")).count()

Check how many missing values in each column

In [13]:
print("[missing values]\n")
for col in df.columns:
    missing_count = count_missing(df, col)
    if missing_count > 0:
        print("{}: {}".format(col, missing_count))

[missing values]

artist: 58392
firstName: 8346
gender: 8346
lastName: 8346
length: 58392
location: 8346
registration: 8346
song: 58392
userAgent: 8346
userId: 8346

`userId` and `sessionId`

If the below Ids are null or empty, delete those rows:

* userId
* sessionId

In [14]:
df_without_missing_id = df.dropna(how = "any", subset = ["userId", "sessionId"])
df_without_missing_id = df_without_missing_id.filter(df["userId"] != "") # `userId` should not be empty string

In [15]:
print("df:                    {}".format(df.count()))
print("df_without_missing_id: {}".format(df_without_missing_id.count())) # no missing values

if df.count() == df_without_missing_id.count():
    print("No missing values with userId and sessionId")
else:
    print("{} rows have been removed.".format(df.count() - df_without_missing_id.count()))

df:                    286500
df_without_missing_id: 278154
8346 rows have been removed.

# Exploratory Data Analysis
When you're working with the full dataset, perform EDA by loading a small subset of the data and doing basic manipulations within Spark. In this workspace, you are already provided a small subset of data you can explore.

Detect number columns and category columns.

* num_cols: Number columns (Long or Double)
* cat_cols: Category columns (String)

In [16]:
num_cols = []
cat_cols = []

for s in df.schema:
    data_type = str(s.dataType)
    if data_type == "StringType":
        cat_cols.append(s.name)
    
    if data_type == "LongType" or data_type == "DoubleType":
        num_cols.append(s.name)

In [17]:
num_cols

['itemInSession', 'length', 'registration', 'sessionId', 'status', 'ts']

In [18]:
cat_cols

['artist',
 'auth',
 'firstName',
 'gender',
 'lastName',
 'level',
 'location',
 'method',
 'page',
 'song',
 'userAgent',
 'userId']

## Number columns

In [19]:
df_without_missing_id.describe(num_cols).show()

+-------+------------------+------------------+--------------------+------------------+------------------+--------------------+
|summary|     itemInSession|            length|        registration|         sessionId|            status|                  ts|
+-------+------------------+------------------+--------------------+------------------+------------------+--------------------+
|  count|            278154|            228108|              278154|            278154|            278154|              278154|
|   mean|114.89918174824018|249.11718197783722|1.535358834085557E12|1042.5616241362698|209.10321620397335|1.540958915431857...|
| stddev|129.85172939949013| 99.23517921058324| 3.291321616328068E9| 726.5010362219821|30.151388851327823|1.5068287123347573E9|
|    min|                 0|           0.78322|       1521380675000|                 1|               200|       1538352117000|
|    max|              1321|        3024.66567|       1543247354000|              2474|               404|       1543799476000|
+-------+------------------+------------------+--------------------+------------------+------------------+--------------------+

There are three HTTP status codes:

* 307: Temporary Redirect
* 404: Not Found
* 200: OK

In [21]:
df_without_missing_id.select("status").dropDuplicates().show()

+------+
|status|
+------+
|   307|
|   404|
|   200|
+------+

### Category columns

auth

In [22]:
df_without_missing_id.select("auth").dropDuplicates().show()

+---------+
|     auth|
+---------+
|Cancelled|
|Logged In|
+---------+

gender

In [23]:
df_without_missing_id.select("gender").dropDuplicates().show()

+------+
|gender|
+------+
|     F|
|     M|
+------+

level

In [24]:
df_without_missing_id.select("level").dropDuplicates().show()

+-----+
|level|
+-----+
| free|
| paid|
+-----+

location (only showing top 10)

In [25]:
df_without_missing_id.select("location").dropDuplicates().show(10)

+--------------------+
|            location|
+--------------------+
|     Gainesville, FL|
|Atlantic City-Ham...|
|Deltona-Daytona B...|
|San Diego-Carlsba...|
|Cleveland-Elyria, OH|
|Kingsport-Bristol...|
|New Haven-Milford...|
|Birmingham-Hoover...|
|  Corpus Christi, TX|
|         Dubuque, IA|
+--------------------+
only showing top 10 rows

method

In [26]:
df_without_missing_id.select("method").dropDuplicates().show()

+------+
|method|
+------+
|   PUT|
|   GET|
+------+

page

In [27]:
df_without_missing_id.select("page").dropDuplicates().show()

+--------------------+
|                page|
+--------------------+
|              Cancel|
|    Submit Downgrade|
|         Thumbs Down|
|                Home|
|           Downgrade|
|         Roll Advert|
|              Logout|
|       Save Settings|
|Cancellation Conf...|
|               About|
|            Settings|
|     Add to Playlist|
|          Add Friend|
|            NextSong|
|           Thumbs Up|
|                Help|
|             Upgrade|
|               Error|
|      Submit Upgrade|
+--------------------+

userAgent (only showing top 10)

In [28]:
df_without_missing_id.select("userAgent").dropDuplicates().show(10)

+--------------------+
|           userAgent|
+--------------------+
|"Mozilla/5.0 (Mac...|
|"Mozilla/5.0 (Win...|
|Mozilla/5.0 (X11;...|
|"Mozilla/5.0 (Mac...|
|"Mozilla/5.0 (Mac...|
|Mozilla/5.0 (Maci...|
|Mozilla/5.0 (Wind...|
|Mozilla/5.0 (Wind...|
|Mozilla/5.0 (comp...|
|"Mozilla/5.0 (Win...|
+--------------------+
only showing top 10 rows

### Define Churn

Once you've done some preliminary analysis, create a column `Churn` to use as the label for your model. I suggest using the `Cancellation Confirmation` events to define your churn, which happen for both paid and free users. As a bonus task, you can also look into the `Downgrade` events.

churn: `Cancellation Confirmation`

In [29]:
df_without_missing_id.filter("page = 'Cancellation Confirmation'").show(10)

+------+---------+---------+------+-------------+--------+------+-----+--------------------+------+--------------------+-------------+---------+----+------+-------------+--------------------+------+
|artist|     auth|firstName|gender|itemInSession|lastName|length|level|            location|method|                page| registration|sessionId|song|status|           ts|           userAgent|userId|
+------+---------+---------+------+-------------+--------+------+-----+--------------------+------+--------------------+-------------+---------+----+------+-------------+--------------------+------+
|  null|Cancelled|   Adriel|     M|          104| Mendoza|  null| paid|  Kansas City, MO-KS|   GET|Cancellation Conf...|1535623466000|      514|null|   200|1538943990000|"Mozilla/5.0 (Mac...|    18|
|  null|Cancelled|    Diego|     M|           56|   Mckee|  null| paid|Phoenix-Mesa-Scot...|   GET|Cancellation Conf...|1537167593000|      540|null|   200|1539033046000|"Mozilla/5.0 (iPh...|    32|
|  null|Cancelled|    Mason|     M|           10|    Hart|  null| free|  Corpus Christi, TX|   GET|Cancellation Conf...|1533157139000|      174|null|   200|1539318918000|"Mozilla/5.0 (Mac...|   125|
|  null|Cancelled|Alexander|     M|          332|  Garcia|  null| paid|Indianapolis-Carm...|   GET|Cancellation Conf...|1536817381000|      508|null|   200|1539375441000|Mozilla/5.0 (Wind...|   105|
|  null|Cancelled|    Kayla|     F|          273| Johnson|  null| paid|Philadelphia-Camd...|   GET|Cancellation Conf...|1538333829000|      797|null|   200|1539465584000|Mozilla/5.0 (Wind...|    17|
|  null|Cancelled|    Molly|     F|           29|Harrison|  null| free|Virginia Beach-No...|   GET|Cancellation Conf...|1534255113000|      843|null|   200|1539588854000|"Mozilla/5.0 (Mac...|   143|
|  null|Cancelled|     Alex|     M|          145|   Hogan|  null| paid|Denver-Aurora-Lak...|   GET|Cancellation Conf...|1535066380000|      842|null|   200|1539729037000|Mozilla/5.0 (Wind...|   101|
|  null|Cancelled|    Davis|     M|           34|    Wang|  null| paid|           Flint, MI|   GET|Cancellation Conf...|1538289776000|      802|null|   200|1539736161000|"Mozilla/5.0 (Win...|   129|
|  null|Cancelled|  Nikolas|     M|          287|   Olsen|  null| paid|Oxnard-Thousand O...|   GET|Cancellation Conf...|1528403713000|      881|null|   200|1539759749000|Mozilla/5.0 (X11;...|   121|
|  null|Cancelled|    Ethan|     M|          176| Johnson|  null| paid|Lexington-Fayette...|   GET|Cancellation Conf...|1538080987000|      934|null|   200|1539761972000|"Mozilla/5.0 (Win...|    51|
+------+---------+---------+------+-------------+--------+------+-----+--------------------+------+--------------------+-------------+---------+----+------+-------------+--------------------+------+
only showing top 10 rows

In [30]:
flag_churned_event = udf(lambda x: 1 if x == "Cancellation Confirmation" else 0, IntegerType())
df_churned = df_without_missing_id.withColumn("churned", flag_churned_event("page"))

churned rate (from total event logs)

In [31]:
churned_rate = df_churned.groupby("userId").agg({"churned": "sum"}).select(avg("sum(churned)")).collect()[0]["avg(sum(churned))"]
print("churned: {:.2f}%".format(churned_rate * 100))

churned: 23.11%

In [32]:
df_churned.select(["userId", "gender", "level", "page", "status", "ts", "churned"]).show(30)

+------+------+-----+---------------+------+-------------+-------+
|userId|gender|level|           page|status|           ts|churned|
+------+------+-----+---------------+------+-------------+-------+
|    30|     M| paid|       NextSong|   200|1538352117000|      0|
|     9|     M| free|       NextSong|   200|1538352180000|      0|
|    30|     M| paid|       NextSong|   200|1538352394000|      0|
|     9|     M| free|       NextSong|   200|1538352416000|      0|
|    30|     M| paid|       NextSong|   200|1538352676000|      0|
|     9|     M| free|       NextSong|   200|1538352678000|      0|
|     9|     M| free|       NextSong|   200|1538352886000|      0|
|    30|     M| paid|       NextSong|   200|1538352899000|      0|
|    30|     M| paid|Add to Playlist|   200|1538352905000|      0|
|    30|     M| paid|       NextSong|   200|1538353084000|      0|
|     9|     M| free|       NextSong|   200|1538353146000|      0|
|     9|     M| free|    Roll Advert|   200|1538353150000|      0|
|    30|     M| paid|       NextSong|   200|1538353218000|      0|
|     9|     M| free|       NextSong|   200|1538353375000|      0|
|     9|     M| free|      Thumbs Up|   307|1538353376000|      0|
|    30|     M| paid|       NextSong|   200|1538353441000|      0|
|     9|     M| free|       NextSong|   200|1538353576000|      0|
|    74|     F| free|       NextSong|   200|1538353668000|      0|
|    30|     M| paid|       NextSong|   200|1538353687000|      0|
|     9|     M| free|       NextSong|   200|1538353744000|      0|
|    74|     F| free|       NextSong|   200|1538353834000|      0|
|    30|     M| paid|       NextSong|   200|1538353909000|      0|
|    54|     F| paid|       NextSong|   200|1538353930000|      0|
|     9|     M| free|       NextSong|   200|1538353973000|      0|
|    74|     F| free|       NextSong|   200|1538354117000|      0|
|    30|     M| paid|       NextSong|   200|1538354132000|      0|
|    54|     F| paid|       NextSong|   200|1538354180000|      0|
|     9|     M| free|       NextSong|   200|1538354204000|      0|
|    74|     F| free|       NextSong|   200|1538354291000|      0|
|    30|     M| paid|       NextSong|   200|1538354365000|      0|
+------+------+-----+---------------+------+-------------+-------+
only showing top 30 rows

In [36]:
windowval = Window.partitionBy("userId").orderBy(asc("ts")).rangeBetween(Window.unboundedPreceding, 0)
df_phase = df_churned.withColumn("phase", Fsum('churned').over(windowval))
df_churn = df_phase.withColumn("churn", Fmax('churned').over(Window.partitionBy("userId")))

In [37]:
df_churn.select(["userId", "gender", "level", "page", "status", "ts", "churned", "phase", "churn"]).show(20)

+------+------+-----+-----------+------+-------------+-------+-----+-----+
|userId|gender|level|       page|status|           ts|churned|phase|churn|
+------+------+-----+-----------+------+-------------+-------+-----+-----+
|100010|     F| free|   NextSong|   200|1539003534000|      0|    0|    0|
|100010|     F| free|   NextSong|   200|1539003736000|      0|    0|    0|
|100010|     F| free|   NextSong|   200|1539003932000|      0|    0|    0|
|100010|     F| free|  Thumbs Up|   307|1539003933000|      0|    0|    0|
|100010|     F| free|   NextSong|   200|1539004195000|      0|    0|    0|
|100010|     F| free|   NextSong|   200|1539004511000|      0|    0|    0|
|100010|     F| free|   NextSong|   200|1539004694000|      0|    0|    0|
|100010|     F| free|   NextSong|   200|1539004918000|      0|    0|    0|
|100010|     F| free|Roll Advert|   200|1539004961000|      0|    0|    0|
|100010|     F| free|   NextSong|   200|1539005157000|      0|    0|    0|
|100010|     F| free|   NextSong|   200|1539005299000|      0|    0|    0|
|100010|     F| free|   NextSong|   200|1539005548000|      0|    0|    0|
|100010|     F| free|Roll Advert|   200|1539005571000|      0|    0|    0|
|100010|     F| free|   NextSong|   200|1539005600000|      0|    0|    0|
|100010|     F| free|  Thumbs Up|   307|1539005601000|      0|    0|    0|
|100010|     F| free|   NextSong|   200|1539005762000|      0|    0|    0|
|100010|     F| free|   NextSong|   200|1539006085000|      0|    0|    0|
|100010|     F| free|Roll Advert|   200|1539006103000|      0|    0|    0|
|100010|     F| free|   NextSong|   200|1539006330000|      0|    0|    0|
|100010|     F| free|Roll Advert|   200|1539006331000|      0|    0|    0|
+------+------+-----+-----------+------+-------------+-------+-----+-----+
only showing top 20 rows

In [38]:
df_churn.filter(df_churn["churn"] == 1).select(["userId", "gender", "level", "page", "status", "ts", "churned", "phase", "churn"]).show(20)

+------+------+-----+--------------------+------+-------------+-------+-----+-----+
|userId|gender|level|                page|status|           ts|churned|phase|churn|
+------+------+-----+--------------------+------+-------------+-------+-----+-----+
|   125|     M| free|            NextSong|   200|1539317144000|      0|    0|    1|
|   125|     M| free|            NextSong|   200|1539317481000|      0|    0|    1|
|   125|     M| free|            NextSong|   200|1539317711000|      0|    0|    1|
|   125|     M| free|            NextSong|   200|1539317914000|      0|    0|    1|
|   125|     M| free|            NextSong|   200|1539318124000|      0|    0|    1|
|   125|     M| free|            NextSong|   200|1539318515000|      0|    0|    1|
|   125|     M| free|            NextSong|   200|1539318728000|      0|    0|    1|
|   125|     M| free|            NextSong|   200|1539318906000|      0|    0|    1|
|   125|     M| free|         Roll Advert|   200|1539318917000|      0|    0|    1|
|   125|     M| free|              Cancel|   307|1539318918000|      0|    1|    1|
|   125|     M| free|Cancellation Conf...|   200|1539318918000|      1|    1|    1|
|    51|     M| paid|                Home|   200|1538398632000|      0|    0|    1|
|    51|     M| paid|            NextSong|   200|1538398649000|      0|    0|    1|
|    51|     M| paid|            NextSong|   200|1538398938000|      0|    0|    1|
|    51|     M| paid|            NextSong|   200|1538399167000|      0|    0|    1|
|    51|     M| paid|            NextSong|   200|1538399351000|      0|    0|    1|
|    51|     M| paid|            NextSong|   200|1538399495000|      0|    0|    1|
|    51|     M| paid|            NextSong|   200|1538399843000|      0|    0|    1|
|    51|     M| paid|            NextSong|   200|1538400086000|      0|    0|    1|
|    51|     M| paid|            NextSong|   200|1538400309000|      0|    0|    1|
+------+------+-----+--------------------+------+-------------+-------+-----+-----+
only showing top 20 rows

52 userIds were churned

In [39]:
churned_user_count = df_churn.filter(df_churn["churn"] == 1).select("userId").dropDuplicates().count()
print("churned user count: {} (total: {})".format(churned_user_count, df_churn.count()))
print("churned user rate: {:.2f}%".format(churned_user_count / df_churn.count() * 100))

churned user count: 52 (total: 278154)
churned user rate: 0.02%

### Explore Data
Once you've defined churn, perform some exploratory data analysis to observe the behavior for users who stayed vs users who churned. You can start by exploring aggregates on these two groups of users, observing how much of a specific action they experienced per a certain time unit or number of songs played.

<font color="red">TODO: not yet done</font>

# Feature Engineering
Once you've familiarized yourself with the data, build out the features you find promising to train your model on. To work with the full dataset, you can follow the following steps.
- Write a script to extract the necessary features from the smaller subset of data
- Ensure that your script is scalable, using the best practices discussed in Lesson 3
- Try your script on the full data set, debugging your script if necessary

If you are working in the classroom workspace, you can just extract features based on the small subset of data contained here. Be sure to transfer over this work to the larger dataset when you work on your Spark cluster.

### Ideas

* artist
  * [x] the number of artist
* gender: 0 or 1
* length
  * the total length
* level: 0 or 1
* page
  * the number of `Thumbs Up`
  * the number of `Thumbs Down`
  * TODO: more
* song
  * [x] the number of song
* ts
  * time since registration
  * recent activity count (1 day)
  * recent activity count (1 week)
  * recent activity count (1 month)

In [40]:
df_churn.show(1)

+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+-------+-----+-----+
|              artist|     auth|firstName|gender|itemInSession| lastName|   length|level|            location|method|    page| registration|sessionId|                song|status|           ts|           userAgent|userId|churned|phase|churn|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+-------+-----+-----+
|Sleeping With Sirens|Logged In| Darianna|     F|            0|Carpenter|202.97098| free|Bridgeport-Stamfo...|   PUT|NextSong|1538016340000|       31|Captain Tyin Knot...|   200|1539003534000|"Mozilla/5.0 (iPh...|100010|      0|    0|    0|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+-------+-----+-----+
only showing top 1 row

Original dataframe to be merged later

In [41]:
df_original = df_churn.groupby('userId').max("churn").withColumnRenamed("max(churn)", "target")

In [42]:
df_original.show(10)

+------+------+
|userId|target|
+------+------+
|100010|     0|
|200002|     0|
|   125|     1|
|   124|     0|
|    51|     1|
|     7|     0|
|    15|     0|
|    54|     1|
|   155|     0|
|100014|     1|
+------+------+
only showing top 10 rows

artist count per userId

In [43]:
user_artist = df_churn.groupby("userId").agg({"artist": "count"}).withColumnRenamed("count(artist)", "artist_count")
user_artist.show(5)

+------+------------+
|userId|artist_count|
+------+------------+
|100010|         275|
|200002|         387|
|   125|           8|
|    51|        2111|
|   124|        4079|
+------+------------+
only showing top 5 rows

gender

In [44]:
flag_gender = udf(lambda x: 1 if x == "F" else 0, IntegerType())
df_churn_with_gender = df_churn.withColumn("gender", flag_gender("gender"))
df_churn_with_gender.show(1)

+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+-------+-----+-----+
|              artist|     auth|firstName|gender|itemInSession| lastName|   length|level|            location|method|    page| registration|sessionId|                song|status|           ts|           userAgent|userId|churned|phase|churn|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+-------+-----+-----+
|Sleeping With Sirens|Logged In| Darianna|     1|            0|Carpenter|202.97098| free|Bridgeport-Stamfo...|   PUT|NextSong|1538016340000|       31|Captain Tyin Knot...|   200|1539003534000|"Mozilla/5.0 (iPh...|100010|      0|    0|    0|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+-------+-----+-----+
only showing top 1 row

In [45]:
user_gender = df_churn_with_gender.groupby('userId').agg({"gender": "max"}).withColumnRenamed("max(gender)", "gender")
user_gender.show(5)

+------+------+
|userId|gender|
+------+------+
|100010|     1|
|200002|     0|
|   125|     0|
|    51|     0|
|   124|     1|
+------+------+
only showing top 5 rows

level

In [46]:
flag_level = udf(lambda x: 1 if x == "paid" else 0, IntegerType())
df_churn_with_level = df_churn.withColumn("level", flag_level("level"))
df_churn_with_level.show(1)

+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+-------+-----+-----+
|              artist|     auth|firstName|gender|itemInSession| lastName|   length|level|            location|method|    page| registration|sessionId|                song|status|           ts|           userAgent|userId|churned|phase|churn|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+-------+-----+-----+
|Sleeping With Sirens|Logged In| Darianna|     F|            0|Carpenter|202.97098|    0|Bridgeport-Stamfo...|   PUT|NextSong|1538016340000|       31|Captain Tyin Knot...|   200|1539003534000|"Mozilla/5.0 (iPh...|100010|      0|    0|    0|
+--------------------+---------+---------+------+-------------+---------+---------+-----+--------------------+------+--------+-------------+---------+--------------------+------+-------------+--------------------+------+-------+-----+-----+
only showing top 1 row

In [47]:
user_level = df_churn_with_level.groupby('userId').agg({"level": "max"}).withColumnRenamed("max(level)", "level")
user_level.show(5)

+------+-----+
|userId|level|
+------+-----+
|100010|    0|
|200002|    1|
|   125|    0|
|    51|    1|
|   124|    1|
+------+-----+
only showing top 5 rows

song count per userId

In [48]:
user_song = df_churn.groupby("userId").agg({"song": "count"}).withColumnRenamed("count(song)", "song_count")
user_song.show(5)

+------+----------+
|userId|song_count|
+------+----------+
|100010|       275|
|200002|       387|
|   125|         8|
|    51|      2111|
|   124|      4079|
+------+----------+
only showing top 5 rows

Join all the features

In [50]:
merged_df = df_original.join(user_artist, ['userId']) \
    .join(user_gender, ['userId']) \
    .join(user_level, ['userId']) \
    .join(user_song, ['userId'])

In [51]:
merged_df.show(5)

+------+------+------------+------+-----+----------+
|userId|target|artist_count|gender|level|song_count|
+------+------+------------+------+-----+----------+
|100010|     0|         275|     1|    0|       275|
|200002|     0|         387|     0|    1|       387|
|   125|     1|           8|     0|    0|         8|
|   124|     0|        4079|     1|    1|      4079|
|    51|     1|        2111|     0|    1|      2111|
+------+------+------------+------+-----+----------+
only showing top 5 rows

# Modeling
Split the full dataset into train, test, and validation sets. Test out several of the machine learning methods you learned. Evaluate the accuracy of the various models, tuning parameters as necessary. Determine your winning model based on test accuracy and report results on the validation set. Since the churned users are a fairly small subset, I suggest using F1 score as the metric to optimize.

Drop `userId` column

In [52]:
merged_df_without_user = merged_df.drop("userId")
feature_columns = [col for col in merged_df_without_user.columns if col!='target']
feature_columns

['artist_count', 'gender', 'level', 'song_count']

Train/Test split

In [54]:
train, test = merged_df_without_user.randomSplit([0.7, 0.3], seed=0)

build model

In [65]:
MulticlassClassificationEvaluator?

In [66]:
def build_model(classifier, param):
    assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")
    scaler = MinMaxScaler(inputCol="features", outputCol="scaled_features")
    pipeline = Pipeline(stages=[assembler, scaler, classifier])

    model = CrossValidator(
        estimator=pipeline,
        estimatorParamMaps=param,
        evaluator=MulticlassClassificationEvaluator(labelCol='target', metricName='f1'),
        numFolds=5,
    )
    return model

In [67]:
lr = LogisticRegression(featuresCol="scaled_features", labelCol="target")
param = ParamGridBuilder().build()
model = build_model(lr, param)

In [68]:
fit_model = model.fit(train)

In [76]:
pred = fit_model.transform(test)

In [82]:
pred.show(20)

+------+------------+------+-----+----------+--------------------+--------------------+--------------------+--------------------+----------+
|target|artist_count|gender|level|song_count|            features|     scaled_features|       rawPrediction|         probability|prediction|
+------+------------+------+-----+----------+--------------------+--------------------+--------------------+--------------------+----------+
|     0|         275|     1|    0|       275|[275.0,1.0,0.0,27...|[0.04577583305284...|[1.32578779788806...|[0.79014303358337...|       0.0|
|     0|        1914|     0|    1|      1914|[1914.0,0.0,1.0,1...|[0.32160888589700...|[1.12066583211400...|[0.75411220058183...|       0.0|
|     0|          84|     1|    0|        84| [84.0,1.0,0.0,84.0]|[0.01363177381353...|[1.27235773379902...|[0.78114608589532...|       0.0|
|     0|        3632|     1|    1|      3632|[3632.0,1.0,1.0,3...|[0.61073712554695...|[2.40832105355688...|[0.91745962860552...|       0.0|
|     1|         230|     0|    0|       230|[230.0,0.0,0.0,23...|[0.03820262537866...|[0.50613517969631...|[0.62390003427183...|       0.0|
|     0|         215|     0|    0|       215|[215.0,0.0,0.0,21...|[0.03567822282059...|[0.50193910136471...|[0.62291491889380...|       0.0|
|     0|        3573|     1|    1|      3573|[3573.0,1.0,1.0,3...|[0.60080780881857...|[2.39181647878592...|[0.91620113667105...|       0.0|
|     0|         377|     0|    1|       377|[377.0,0.0,1.0,37...|[0.06294177044766...|[0.69070767240271...|[0.66612433350743...|       0.0|
|     0|         650|     0|    0|       650|[650.0,0.0,0.0,65...|[0.10888589700437...|[0.62362537298111...|[0.65104263336009...|       0.0|
|     0|         251|     1|    0|       251|[251.0,1.0,0.0,25...|[0.04173678895994...|[1.31907407255750...|[0.78902761507620...|       0.0|
|     0|          28|     1|    0|        28| [28.0,1.0,0.0,28.0]|[0.00420733759676...|[1.25669237469438...|[0.77845619304043...|       0.0|
|     0|        1393|     1|    1|      1393|[1393.0,1.0,1.0,1...|[0.23392797038034...|[1.78198642792670...|[0.85594197624529...|       0.0|
|     0|        2401|     0|    1|      2401|[2401.0,0.0,1.0,2...|[0.40356782228205...|[1.25689850861328...|[0.77849174129840...|       0.0|
|     0|         505|     1|    1|       505|[505.0,1.0,1.0,50...|[0.08448333894311...|[1.53357859069597...|[0.82252930152659...|       0.0|
|     1|         490|     1|    1|       490|[490.0,1.0,1.0,49...|[0.08195893638505...|[1.52938251236437...|[0.82191595043920...|       0.0|
|     0|         178|     0|    0|       178|[178.0,0.0,0.0,17...|[0.02945136317738...|[0.49158877481343...|[0.62048063560289...|       0.0|
|     0|         246|     1|    0|       246|[246.0,1.0,0.0,24...|[0.04089532144059...|[1.31767537978030...|[0.78879469030328...|       0.0|
|     0|        1802|     1|    1|      1802|[1802.0,1.0,1.0,1...|[0.30276001346348...|[1.89639949710166...|[0.86948347678868...|       0.0|
|     0|         177|     1|    0|       177|[177.0,1.0,0.0,17...|[0.02928306967351...|[1.29837341945494...|[0.78556110492564...|       0.0|
|     0|         161|     0|    0|       161|[161.0,0.0,0.0,16...|[0.02659037361157...|[0.48683321937095...|[0.61936013652378...|       0.0|
+------+------------+------+-----+----------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [85]:
pred.filter(pred['prediction'] == 0.0).show(10)

+------+------------+------+-----+----------+--------------------+--------------------+--------------------+--------------------+----------+
|target|artist_count|gender|level|song_count|            features|     scaled_features|       rawPrediction|         probability|prediction|
+------+------------+------+-----+----------+--------------------+--------------------+--------------------+--------------------+----------+
|     0|         275|     1|    0|       275|[275.0,1.0,0.0,27...|[0.04577583305284...|[1.32578779788806...|[0.79014303358337...|       0.0|
|     0|        1914|     0|    1|      1914|[1914.0,0.0,1.0,1...|[0.32160888589700...|[1.12066583211400...|[0.75411220058183...|       0.0|
|     0|          84|     1|    0|        84| [84.0,1.0,0.0,84.0]|[0.01363177381353...|[1.27235773379902...|[0.78114608589532...|       0.0|
|     0|        3632|     1|    1|      3632|[3632.0,1.0,1.0,3...|[0.61073712554695...|[2.40832105355688...|[0.91745962860552...|       0.0|
|     1|         230|     0|    0|       230|[230.0,0.0,0.0,23...|[0.03820262537866...|[0.50613517969631...|[0.62390003427183...|       0.0|
|     0|         215|     0|    0|       215|[215.0,0.0,0.0,21...|[0.03567822282059...|[0.50193910136471...|[0.62291491889380...|       0.0|
|     0|        3573|     1|    1|      3573|[3573.0,1.0,1.0,3...|[0.60080780881857...|[2.39181647878592...|[0.91620113667105...|       0.0|
|     0|         377|     0|    1|       377|[377.0,0.0,1.0,37...|[0.06294177044766...|[0.69070767240271...|[0.66612433350743...|       0.0|
|     0|         650|     0|    0|       650|[650.0,0.0,0.0,65...|[0.10888589700437...|[0.62362537298111...|[0.65104263336009...|       0.0|
|     0|         251|     1|    0|       251|[251.0,1.0,0.0,25...|[0.04173678895994...|[1.31907407255750...|[0.78902761507620...|       0.0|
+------+------------+------+-----+----------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 10 rows

In [86]:
pred.select("prediction").dropDuplicates().collect()

[Row(prediction=0.0)]

In [80]:
evaluator = MulticlassClassificationEvaluator(predictionCol="prediction", labelCol="target")
f1_score = evaluator.evaluate(pred, {evaluator.metricName: "f1"})
print("f1: {}".format(f1_score))

f1: 0.7309336332958379

# Final Steps
Clean up your code, adding comments and renaming variables to make the code easier to read and maintain. Refer to the Spark Project Overview page and Data Scientist Capstone Project Rubric to make sure you are including all components of the capstone project and meet all expectations. Remember, this includes thorough documentation in a README file in a Github repository, as well as a web app or blog post.